@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

* {
    font-family: 'Rammetto One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rammettoone/v18/LhWiMV3HOfMbMetJG3lQDppNO_Gduu8.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.banner {
    height: 450px;
    object-fit: contain;
    color: white;
    filter: drop-shadow(8px 8px 10px rgb(247, 247, 247, 0.4));

}



.bannerContent {
    margin-left: 30px;
    padding-top: 10px;
    height: 200px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.bannerTitle {
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: .4rem;


}


.bannerDescription {

    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 700px;
    height: 11.6rem;
    overflow: hidden;

}


/* .bannerButton {
    cursor: pointer;
    color: rgb(13, 16, 16);
    outline: none;
    border-radius: 20px;
    font-weight: 700;

    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 0.5rem;
} */